// Place all the styles related to the interface_cliente controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#produto
{
padding:20px;
border: 3px #228B22 dashed;
margin: 20px;
}
