<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<span id="links"><%= link_to 'Administrador', controls_path %></span>
<div id="conteudo">
	<div id="menu">
		<ul>
		<% @categories.each do |categoria| %>
			<li><%= link_to categoria.name, :controller => "menu", :action => "index", :id => categoria.id %></li>
		<% end %>
		</ul>
	</div>
	<div id="destaque">
 	</div>
</div>
