<h1>Resultado da busca</h1>

<div class="box">
	<% @resultados.each do |resultado|%>
	<% objeto = resultado.cast%>
	<h3><%=objeto.name%></h3>
	<%=truncate objeto.description, :length => 200%>
	<%=link_to 'mais', object%>
	<% end %>
</div>	