/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#menu {
	width: 30%;
	margin: 0px; padding:0px;
	float: left;
	clear:left;
	}

#menu ul{
	display: block;
	list-style-type: none;
	padding:0;
	margin:0;
	width: 30%;
	float: left;
}

#menu ul li {
	width: 150px;
	float: left;
}

#menu ul li a {
	padding: 3px 0 3px 6px; 
	border: 2px;
	border-color:#fff;
	border-style:solid;
	display: block;
	background: #228B22; 
	color: #fff;
	text-align:center;
}

#menu li a:hover { 
	background: #fff;
	border-color:#228B22;
	color: #228B22;
	border-style:dashed;
}

a:link
{
	text-decoration:none;
}

a:visited
{
	text-decoration:none;
}
/*-------------------------------*/

.conteudo{
width:500px;
padding:20px;
border: 3px #228B22 dashed;
float: right;
margin-right: 250px;
margin-bottom: 20px;
}
